<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About my page</h1>
    <h3>Localhost: 8888</h3>
    <h4>страницы в данном сервере</h4>
    <ul>
        <li>contacts: <a href="http://localhost:8888/contacts/">http:localhost:8888/contacts/</a></li>
        <li>images: <a href="http://localhost:8888/images/">http:localhost:8888/images/</a></li>
        <li>profile: <a href="http://localhost:8888/profile/">http:localhost:8888/profile/</a></li>
        <li>about: <a href="http://localhost:8888/about/">http:localhost:8888/about/</a></li>
        <li>video: <a href="http://localhost:8888/video/">http:localhost:8888/video/</a></li>
    </ul>
</body>
</html>