<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Some contacts:</h1>
    <h2>
        John Snow: 996(700)700-800<br>
        Jamie Lanister: 996(777)777-888<br>
        Sansa Stark: 996(888)999-100<br>
        Tirion Lanister: 996(200)223-423<br>
        Sultan Katana: 996(444)545-123<br>
    </h2>
</body>
</html>